{% extends 'music/base.html' %}

{% block title %}Details{% endblock %}

{% block body %}
<img src="{{album.album_logo.url}}" style="width: 250px; height: auto;">

<h1>{{ album.album_title }}</h1>
<h3>{{ album.artist }}</h3>

{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
{% endif %}
<ul>
{% for song in album.song_set.all %}
   <li style="list-style-type: none;"> {{ song.song_title}}
    {% if song.is_favorite %}
        <img src="http://i.imgur.com/b9b13Rd.png" />
    {% endif %}
    </li>
{% endfor %}
</ul>
{% endblock %}