{% extends 'music/base.html' %}
{% block title%}Albums{% endblock %}

{% block body %}


		{% for album in album_list %}
			<div class="col-sm-4 col-lg-2">
				<div class="thumbnail">

					<!--album logo -->

					<a href="{% url 'music:detail' album.id %}">
						<img src="{{ album.album_logo.url }}" class="img-responsive">	
					</a>
					<div class="caption">
						<h2>{{album.album_title}}</h2>
						<h4>{{album.artist}}</h4>

						<!-- details -->
						<a href="{% url 'music:detail' album.id%}" class="btn btn-primary btn-sm">view details</a>
						
						<!-- delete -->
						<form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
							{% csrf_token %}
							<input type="hidden" name="album_id" value="{{album.id}}" />
							<button type="submit" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</form>

						<!-- favorite -->
						<a href="#" class="btn btn-default btn-sm btn-favorite">
							<span class="glyphicon glyphicon-star" {% if album.is_favorite %}active{% endif %}></span>
						</a>
					</div>
				</div>
			</div>
		{% endfor %}

{% endblock %}